h1 {
    color: #0b0000;
    font: "Verdana", sans-serif;
    text-align: center;
}

body {
    background-color: white;
    font-family: "Verdana", sans-serif;
    text-align: center;
}
.zone1 {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}
.zone2 {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    text-align: left;
}
